= content_for(:h2_title) { 'List all purchases' }

%table.table.table-hover
  %thead
    %td User Name
    %td Item Name
    %td Category Names

  = render partial: 'purchase', collection: @purchases

= will_paginate @purchases, previous_label: h('<'), next_label: h('>')